<!DOCTYPE html>
<html  class="no-js" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" href="../../static/company/css/index.css" th:href="@{/company/css/index.css}"/>
<link rel="stylesheet" type="text/css" href="../../static/css/BeatPicker.min.css" th:href="@{/css/BeatPicker.min.css}"/>
<script type="text/javascript" src="../../static/js/jquery-1.10.2.min.js"  th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script type="text/javascript" src="../../static/js/bootstrap.js"  th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" src="../../static/company/js/index.js"  th:src="@{/company/js/index.js}"></script>
<script src="../../static/company/js/unitInformation.js" type="text/javascript" th:src="@{/company/js/unitInformation .js}"></script>
<script src="../../static/js/BeatPicker.min.js" th:src="@{/js/BeatPicker.min.js}"></script>
<!--[if lte IE 9]>
	<script src="../../static/company/js/respond.js" th:src="@{/company/js/respond.js}"></script>
	<script src="../../static/company/js/html5shiv.min.js" th:src="@{/company/js/html5shiv.min.js}"></script>
<![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a th:href="@{/}" class="btn hidden-xs"><img src="../../static/img/test.png" style="width:150px"/></a>
        <h2 class="btn btn-title ">大连理工大学就业管理与服务平台</h2>
    </div>
    <div class=" navbar-collapse  collapse">
        <ul class="nav navbar-nav navbar-right ">
            <li ><a th:text="${session.user.depName}" th:data-id="${session.user.id}" id="identity">我是企业</a></li>
            <li><a class="btn btn-default">退出</a></li>
            <li><a></a></li>
        </ul>
    </div>

</nav>
<section class="container-fluid con">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3">
            <div class="collapse navbar-collapse">
                <aside class="aside">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a th:href="@{/company/recruitment.html}"><span class="glyphicon glyphicon-align-left"></span>招聘需求</a></li>
						<li class="active"><a th:href="@{/}"><span class="glyphicon glyphicon-align-left"></span>招聘会预约</a></li>
						<li><a th:href="@{/company/appointment.html}"><span class="glyphicon glyphicon-align-left"></span>专场招聘预约</a></li>
						<li><a th:href="@{/}"><span class="glyphicon glyphicon-align-left"></span>场地租用</a></li>
						<li><a th:href="@{/}"><span class="glyphicon glyphicon-align-left"></span>简历管理</a></li>
						<li><a th:href="@{/}"><span class="glyphicon glyphicon-align-left"></span>offer管理</a></li>
						<li><a th:href="@{/}"><span class="glyphicon glyphicon-align-left"></span>签约管理</a></li>
						<li><a th:href="@{/company/companyInfo?id=}+${session.user.depId}" id="info"><span class="glyphicon glyphicon-align-left"></span>单位信息维护</a></li>
                        <li><a th:href="@{/}"><span class="glyphicon glyphicon-align-left"></span>生源查询</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-9">
            <div class="main">


            </div>
        </div>
    </div>
</section>
</body>
</html>
