<!DOCTYPE html>
<html  class="no-js" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" href="../../static/student/css/index.css" th:href="@{/student/css/index.css}"/>
<link rel="stylesheet" href="../../static/student/css/stu_information.css" th:href="@{/student/css/stu_information.css}"/>
<script type="text/javascript" src="../../static/js/jquery-1.10.2.min.js"  th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script type="text/javascript" src="../../static/js/bootstrap.js"  th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" src="../../static/student/js/index.js"  th:src="@{/student/js/index.js}"></script>
<script type="text/javascript" src="../../static/student/js/stu_information.js"  th:src="@{/student/js/stu_information.js}"></script>


</script>
<!--[if lte IE 9]>
	<script src="../../static/js/respond.js" th:src="@{/js/respond.js}"></script>
	<script src="../../static/js/html5shiv.min.js" th:src="@{/js/html5shiv.min.js}"></script>
<![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a th:href="@{/}" class="btn hidden-xs"><img src="../../static/img/test.png" th:src="@{/img/test.png}"  style="width:150px"/></a>
        <h2 class="btn btn-title ">大连理工大学就业管理与服务平台</h2>
    </div>
    <div class=" navbar-collapse  collapse">
        <ul class="nav navbar-nav navbar-right ">
            <li ><a th:text="${session.user.depName}" th:data-id="${session.user.id}" id="identity">我是学生</a></li>
            <li><a th:href="@{/logout.html}" class="btn btn-default">退出</a></li>
            <li><a></a></li>
        </ul>
    </div>

</nav>
<section class="container-fluid con">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3" style="z-index: 999;">
            <div class="collapse navbar-collapse">
                <aside class="aside">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a th:href="@{/}"><span class="glyphicon glyphicon-align-left"></span>我的主页</a></li>
                        <li class="active"><a th:href="@{/student/stuInformation.html}"><span class="glyphicon glyphicon-align-left"></span>学籍信息</a></li>
                        <li><a th:href="@{/student/JobDestination?stuId=}+${session.user.id}"><span class="glyphicon glyphicon-align-left"></span>就业去向</a></li>
                        <!--<li><a th:href="@{/}"><span class="glyphicon glyphicon-align-left"></span>招聘需求</a></li>-->
                        <li><a th:href="@{/student/stu_offer.html}"><span class="glyphicon glyphicon-align-left"></span>我的offer</a></li>
                        <li><a th:href="@{/student/agreement.html}"><span class="glyphicon glyphicon-align-left"></span>三方协议</a></li>
                        <li><a th:href="@{/student/recruitmentQuery/stuRecruitment.html}"><span class="glyphicon glyphicon-align-left"></span>招聘会</a></li>
                    	<li><a th:href="@{/student/stuBlankBook}"><span></span>空白协议书</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-9">
            <div class="main">
				<h2 style="font:30px/1 '微软雅黑'"><strong>我的学籍信息</strong></h2>
				<form action="/student/updateInformation" method="post">
					<div class="row mess" style="padding-top:30px ;">
						<div class="col-lg-2 col-md-2 col-sm-2 message">
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val" style="font-size:25px ;font-weight:700;">姓名</div>
								</div>
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text"  th:value="${studentInfo.name}" name="name"  />
								</div>
								
							</div>
						</div>
	                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="height: 40px;"> 性别:</div>
							<div class="show1">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content" style="padding: 0;">
									<div th:text="${#pubcode.codeName('gender',studentInfo.gender)}" ></div>
								</div>
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									 <select name="gender" id = "gender" class="form-control">
                                        <option th:each="gender, genderS : ${allGender}" th:value="${gender.key}" th:text="${gender.value}" th:selected="${studentInfo.gender==gender.key}">[[${gender.value}}]]</option>
                                    </select>
								</div>
								
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="height: 40px;"> 学历:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div th:text="${#pubcode.codeName('eduDegree',studentInfo.eduDegree)}"></div>
								</div>
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<select id = "eduDegree" name="eduDegree"class="form-control">
                                        <option th:each="eduDegree, eduDegreeS : ${allEduDegree}" th:value="${eduDegree.key}" th:text="${eduDegree.value}" th:selected="${studentInfo.eduDegree == eduDegree.key} ">[[${eduDegree.value}]]</option>
                                    </select>
								</div>
								
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> 身份证号:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text" th:value="${studentInfo.idCard}"  name="idCard"  class="form-control"/>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">学号:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text"  th:value="${studentInfo.stuNo}" name="stuNo"  class="form-control"/>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">出生日期:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text" th:value="${studentInfo.birthdate}" name="birthdate"  class="form-control"/>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">政治面貌:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div th:text="${#pubcode.codeName('political',studentInfo.political)}"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									 <select id = "political" name="political"class="form-control">
                                        <option th:each="political, politicalS : ${allPolitical}" th:value="${political.key}" th:text="${political.value}" th:selected="${studentInfo.political == political.key} ">[[${political.value}]]</option>
                                    </select>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">民族:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div  th:text="${#pubcode.codeName('ethnic',studentInfo.ethnic)}"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									 <select id = "ethnic" name="ethnic"class="form-control">
                                        <option th:each="ethnic, ethnicS : ${allEthnics}" th:value="${ethnic.key}" th:text="${ethnic.value}" th:selected="${studentInfo.ethnic == ethnic.key} ">[[${ethnic.value}]]</option>
                                    </select>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">生源地:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text" th:value="${studentInfo.homeland}" name="homeland"  class="form-control"/>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">所在院系:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div th:text="${#pubcode.codeName('academy',studentInfo.departmentId)}"></div>
								</div>
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<select id = "departmentId" name="departmentId"class="form-control">
                                        <option th:each="departmentId, departmentIdS : ${allAcademy}" th:value="${departmentId.key}" th:text="${departmentId.value}" th:selected="${studentInfo.departmentId == departmentId.key} ">[[${departmentId.value}]]</option>
                                    </select>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">专业:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div  th:text="${#pubcode.codeName('major',studentInfo.majorCode)}"></div>
								</div>
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									 <select id = "majorCode" name="majorCode"class="form-control">
                                        <option th:each="majorCode, majorCodeS : ${allMajor}" th:value="${majorCode.key}" th:text="${majorCode.value}" th:selected="${studentInfo.majorCode == majorCode.key} ">[[${majorCode.value}]]</option>
                                    </select>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">导师:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text" th:value="${studentInfo.tutorName}" name="tutorName"  class="form-control"/>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">就读时间:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text" th:value="${studentInfo.startDate}"  name="startDate"  class="form-control"/>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">学制:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div  th:text="${#pubcode.codeName('eduYear',studentInfo.eduYear)}"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									 <select id = "eduYear" name="eduYear"class="form-control">
                                        <option th:each="eduYear, eduYearS : ${allEduYear}" th:value="${eduYear.key}" th:text="${eduYear.value}" th:selected="${studentInfo.eduYear == eduYear.key} ">[[${eduYear.value}]]</option>
                                    </select>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">所在班级:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text" th:value="${studentInfo.className}" name="className"  class="form-control"/>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">语种1:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div th:text="${#pubcode.codeName('language',studentInfo.flangType)}"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<select id = "flangType" name="flangType"class="form-control">
                                        <option th:each="flangType, flangTypeS : ${allLanguage}" th:value="${flangType.key}" th:text="${flangType.value}" th:selected="${studentInfo.flangType == flangType.key} ">[[${flangType.value}]]</option>
                                    </select>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">语种2:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div  th:text="${#pubcode.codeName('language',studentInfo.flangType2)}"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									 <select id = "flangType2" name="flangType2"class="form-control">
                                        <option th:each="flangType2, flangType2S : ${allLanguage}" th:value="${flangType2.key}" th:text="${flangType2.value}" th:selected="${studentInfo.flangType2 == flangType2.key} ">[[${flangType2.value}]]</option>
                                    </select>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">辅导员:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text" th:value="${studentInfo.counselor}" name="counselor"  class="form-control"/>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">培养方式:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div  th:text="${#pubcode.codeName('eduMode',studentInfo.eduMode)}"></div>
								</div>
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<select id = "eduMode" name="eduMode"class="form-control">
                                        <option th:each="eduMode, eduModeS : ${allEduMode}" th:value="${eduMode.key}" th:text="${eduMode.value}" th:selected="${studentInfo.eduMode == eduMode.key} ">[[${eduMode.value}]]</option>
                                    </select>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">定向或委培单位:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text" th:value="${studentInfo.trustee}"  name="trustee"  class="form-control"/>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">户口是否转入学校:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
                                     <select id = "haveEduHukou" name="haveEduHukou" class="form-control">
                                        <option value="0" th:selected="${studentInfo.haveEduHukou=='0'}">否</option>
                                        <option value="1" th:selected="${studentInfo.haveEduHukou=='1'}">是</option>
                                    </select>
								</div>
								
							</div>
						</div>
					</div>
					<div class="clearfix" style="border-top:1px solid #000;margin-bottom: 10px;"></div>
					<div class="row">
						<h4 style="margin-top: 0px;">联系信息</h4>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">电子邮箱:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text" th:value="${studentInfo.email}"  name="email"  class="form-control"/>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">手机号码:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text" th:value="${studentInfo.mobilephone}" name="mobilephone"  class="form-control"/>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">家庭电话:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text" th:value="${studentInfo.homePhone}" name="homePhone"  class="form-control"/>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">qq号:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text" th:value="${studentInfo.qqNo}"  name="qqNo"  class="form-control"/>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 message">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">微信号:</div>
							<div class="show1">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content" style="padding: 0;">
									<div class="val"></div>
								</div>
								
							</div>
							<div class="show2">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 content">
									<input type="text" th:value="${studentInfo.wechatNo}" name="wechatNo"  class="form-control"/>
								</div>
								
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 confirm" >
                            <a class="btn btn-default form-control disabled">我确认我的学籍信息无误</a>
                        </div>
					</div>
				</form>
				<div class="row">
					<div class="well">
						<h3><strong>修改说明：</strong></h3>
						<ol>
							<li>所有后面带有修改标准的字段，在学校就业中心确认审核之前都可以修改。</li>
							<li>学校就业中心确认后，除了联系信息，其他都不能修改。如需修改，请到就业中心联系老师修改。</li>
							<li>姓名、性别、学历、身份证号、学号、出生日期、民族、所在院系、学制错误的话，请到就业中心联系老师修改。</li>
						</ol>
						<footer>
							<div>就业中心联系方式：<span></span></div>
							<div>电话：<span></span></div>
						</footer>
					</div>
				</div>
            </div>
        </div>
    </div>
</section>
<script th:inline="JavaScript">
    var errorMsg = [[${errorMsg}]];
    if (errorMsg!=null) {
        alert(errorMsg);
    }
</script>
</body>
</html>
